.error {
	&__container {
		max-width: 1440px;
		width: 100%;
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
		gap: 10px;

		.btn_home {
			display: inline-flex;
			justify-content: center;
			align-items: center;
			min-width: 132px;
			height: 48px;
			margin-right: 16px;
			padding: 12px 20px;
			border: none;
			outline: none;
			border-radius: 8px;
			font-size: 16px;
			font-weight: 600;
			background-color: #073470;
			color: #fff;
			cursor: pointer;
			transition: background-color 0.15s ease-out;

			&:hover,
			&:focus-visible {
				background-color: #1c57c3;
			}
		}
	}
}
