.page {
	box-sizing: border-box;
	width: 100%;
	min-height: 100vh;
	margin: 0;
	color: #fafafa;
	background-color: #111;
	background-image: url("../../public/bg.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	font-family: "Poppins", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
